.dashboard {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 2.4rem;
  &__content {
    height: 100%;
    display: flex;
    flex-direction: row;
   &__view  {
     width: 100%;
   }
  }

}





